

<div ng-show="musicians">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">All Musicians</a></li>
                    <li><a href="#musicians/#/jazz">Jazz</a></li>
                    <li><a href="#musicians/#/rock">Rock</a></li>
                    <li><a href="#musicians/#/blues">Blues</a></li>
                    <li><a href="#musicians/#/alternative">Alternative</a></li>
                    <li><a href="#musicians/#/hiphop">Hip Hop</a></li>
                    <li><a href="#musicians/#/rnb">R&B</a></li>
                    <li><a href="#musicians/#/classcal">Classical</a></li>
                    <li><a href="#musicians/#/dnb">Drum and Bass</a></li>
                    <li><a href="#musicians/#/electronic">Electronic</a></li>
                    <li><a href="#musicians/#/filmaudio">Game and Film Audio</a></li>
                    <li><a href="#musicians/#/singsong">Singer/Songwriters</a></li>
                    <li><a href="#musicians/#/composers">Composers</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-2 main">
                <h1 class="page-header">Musicians in your area</h1>

                <div class="row-placeholders">
                    <div class="col-xs-6 col-sm-3">
                        <iframe width="100%" height="width" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/65527504&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                        <h4>Example Musician</h4>
                        <span class="text-muted">Los Altos, CA</span>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


