
<div ng-show="home">
    <div class="row">

        <!-- Front page info Column-->
        <div class="col-xs-12 col-md-8">
            <div id="home-page-info" class="info">
                <div class="well">
                    <div class="jumbotron">
                        <h1>Start a band.</h1>
                        <h2>EarBuds helps you meet high school musicians in your area.</h2>
                        <p>
                            Whether you want to jam, start a casual band, or play paid gigs,
                            EarBuds will help you find what you're looking for.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sign up Column -->
        <div class="col-xs-12 col-md-4">
            <div class="well">
                <h2>Sign up.</h2>
                <form>
                    Email: <input type="text" name="email"><br /><br />
                    Password: <input type="text" name="password"><br /><br />
                    Username: <input type="text" name="username"><br /><br />
                    Age: <input type="number" name="age"> <br /><br />
                </form>
            </div>
        </div>

    </div>

</div>
