
<div ng-show="profile">
    <div class="container theme-showcase" role="main">


            <div class="col-xs-6">
                <iframe height="100%" width="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/156639621&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                <h4>Maya Acharya</h4>
                <span class="text-muted">Los Altos, CA</span>
            </div>
        <div class="page-header">
            <h3>About Maya Acharya</h3>
        </div>
        <p>
            <button type="button" class="btn btn-primary">Guitar</button>
            <button type="button" class="btn btn-primary">Piano</button>

        </p>
        <p>
            <button type="button" class="btn btn-xs btn-info">Jazz</button>
            <button type="button" class="btn btn-xs btn-info">Rock</button>
            <button type="button" class="btn btn-xs btn-info">Classical</button>
            <button type="button" class="btn btn-xs btn-info">Blues</button>
            <button type="button" class="btn btn-xs btn-info">Composition</button>
        </p>
        <p>
            <button type="button" class="btn btn-xs btn-default">LAHS Jazz</button>
            <button type="button" class="btn btn-xs btn-default">Chocolate Heads</button>
            <button type="button" class="btn btn-xs btn-default">Bay Area Open Mic</button>

        </p>

        <div class="page-header">
            <h1>Musician Resume</h1>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Musician Background</h3>
                    </div>
                    <div class="panel-body">
                        This is where the musician's background info goes. 
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Current Projects</h3>
                    </div>
                    <div class="panel-body">
                        This is where users write about their current music projects. 
                    </div>
                </div>
            </div><!-- /.col-sm-4 -->
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Current groups</h3>
                    </div>
                    <div class="panel-body">
                        This is where users write about the groups they are a part of
                        and their roles in the groups.
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Skills</h3>
                    </div>
                    <div class="panel-body">
                        This is where users describe their musical and music related skills
                    </div>
                </div>
            </div><!-- /.col-sm-4 -->
            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Looking for</h3>
                    </div>
                    <div class="panel-body">
                        This is where the user writes about what they are looking for,
                        whether they're looking for a bass player, a band to join, or gigs. 
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
        </div>


    </div> 
</div>
